<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.c4605.hostsmanager</string>
	<key>connections</key>
	<dict>
		<key>63014B64-0AEF-4AF7-951C-E5D4237B5DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED2DC1D1-D907-41A2-97FA-4C7667948CB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B551FAAA-511E-4020-B3AE-3C7A43B71729</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEAE20AA-89A7-4E74-B535-385D6459EF4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BEAE20AA-89A7-4E74-B535-385D6459EF4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F21F36CE-06D3-4999-A843-8A556CBAC670</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ED2DC1D1-D907-41A2-97FA-4C7667948CB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F21F36CE-06D3-4999-A843-8A556CBAC670</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>c4605</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hosts Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hosts</string>
				<key>script</key>
				<string>source rbenv_support.sh

ruby ./main.rb {query}</string>
				<key>subtext</key>
				<string>Loading hosts file...</string>
				<key>title</key>
				<string>Manage /etc/hosts content</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B551FAAA-511E-4020-B3AE-3C7A43B71729</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>do shell script "source rbenv_support.sh; ruby ./do_action.rb {query}" with administrator privileges</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEAE20AA-89A7-4E74-B535-385D6459EF4E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F21F36CE-06D3-4999-A843-8A556CBAC670</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hosts add</string>
				<key>text</key>
				<string>Add "127.0.0.1 &lt;host&gt;" to /etc/hosts</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63014B64-0AEF-4AF7-951C-E5D4237B5DCD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>do shell script "source rbenv_support.sh; ruby ./do_action.rb add {query}" with administrator privileges</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED2DC1D1-D907-41A2-97FA-4C7667948CB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>63014B64-0AEF-4AF7-951C-E5D4237B5DCD</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>B551FAAA-511E-4020-B3AE-3C7A43B71729</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>BEAE20AA-89A7-4E74-B535-385D6459EF4E</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>ED2DC1D1-D907-41A2-97FA-4C7667948CB0</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>F21F36CE-06D3-4999-A843-8A556CBAC670</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://plafer.info</string>
</dict>
</plist>
